<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.bazaar">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SignInActivity" />
        <activity
            android:name=".Home"
            android:label="Home"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.Main" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormClubActivity"
            android:label="Form Club"
            android:theme="@style/AppTheme" />
        <activity android:name=".BankInfoActivity" />
        <activity android:name=".BankInfoAddedSuccessActivity" />
        <activity android:name=".BorrowActivity" />
        <activity android:name=".BuyActivity" />
        <activity android:name=".Cash" />
        <activity
            android:name=".Communication"
            android:label="Communication"
            android:theme="@style/AppTheme" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".Credit" />
        <activity android:name=".Event_Functionality" />
        <activity android:name=".ExchangeBuyerSideActivity" />
        <activity android:name=".ExchangeOfferSubmittedActivity" />
        <activity android:name=".ExchangeSellerSideActivity" />
        <activity android:name=".ExchangeSellerConformation" />
        <activity android:name=".InviteConformationDialogueActivity" />
        <activity
            android:name=".Memberinfo"
            android:label="Your Profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".PasswordResetLinkSentConformationActivity" />
        <activity android:name=".PasswordRetrivalActivity" />
        <activity android:name=".PaymentMainActivity" />
        <activity android:name=".sellActivity" />
        <activity android:name=".TradeTypeSelectionActivity" />
        <activity android:name=".setting" />
        <activity android:name=".SendGroupInvitationActivity" />
        <activity android:name=".recipient_communication" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".SearchActivity"
            android:label="Search UBS">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            android:name=".Buy_item_details" />
        <activity android:name=".Borrow_item_details" />
        <activity android:name=".Exchange_item_details" />
        <activity android:name=".Buy_items" />
        <activity android:name=".Exchange_items" />
        <activity android:name=".Borrow_items"></activity>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchResultsMember"
            android:label="Member" />
        <activity android:name=".NotNecessary"></activity>
    </application>

</manifest>